<head>
    <title>BALFilter Reader</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/my-style.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/static/bootstrap-theme.min.css">

    <script src="/static/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/bootstrap.min.js"></script>
</head>

<body>

<tr>

    Please select the case to view

</tr>

<tr th:each="aImg:${imgList}">

    <div>



                <a th:href=" '/result/'+ ${aImg} +'/0'" th:text="${aImg}" style="display: block; text-align: center;"></a>
                <img th:src="@{'/static/res_'+ ${aImg} + '.jpg'}" alt="" class='img-responsive center-block thumbnail' />


    </div>

</tr>








</body>

</html>


