<head>
    <title>BALFilter Reader</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/static/bootstrap-theme.min.css">

    <script src="/static/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/bootstrap.min.js"></script>
</head>

<body>


<form th:action="@{/upload}" method="post" enctype="multipart/form-data">

    <td>
        <input type="file" name="file"/>
        <br>
        <input type="submit" value="Upload and detect">
    </td>




</form>


</body>

</html>


